*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  width: 100%;
  background: #111;
  padding: 20px 0;
}

.navbar {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-left {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.nav-center {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-center li a {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.nav-center li a:hover {
  color: #ff7a00;
}

.cv-btn {
  background: #ff7a00;
  padding: 10px 18px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.2s;
}

.cv-btn:hover {
  background: #e86e00;
}