*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  width: 100%;
  background: #111;
  padding: 20px 0;
}

.navbar {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
} 

.nav-left {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.nav-center {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-center li a {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.nav-center li a:hover {
  color: #ff7a00;
}

.cv-btn {
  background: #ff7a00;
  padding: 10px 18px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.2s;
}

.cv-btn:hover {
  background: #e86e00;
}

.hero {
    background: #111;   
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-left {
    max-width: 500px;
}

.hero-left .small-text {
    color: #cfcfcf;
    font-size: 16px;
    margin-bottom: 5px;
}

.hero-left .name {
    color: #ff7a00;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.hero-left .title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-left .desc {
    color: #cccccc;
    line-height: 1.6;
    margin-bottom: 25px;
}

.hire-btn {
    background: #ff7a00;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}

.hero-right {
    text-align: center;
}

.hero-photo {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ff7a00;
    transition: opacity 0.5s ease-in-out;
}


.social {
    display: flex;          
    justify-content: center; 
    gap: 15px;    
    margin-top: 15px;          
}

.social a i {
    font-size: 24px;
    color: #e6e6e6;
    transition: color 0.3s;
}

.social a:hover i {
    color: #0073b1; 
}

.social i:hover {
    color: #ff7a00;
}

